header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

#heading {
    color: plum;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    padding: 4vh 0;
}